<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/head %>

<title>Add Record</title>

<!-- <meta http-equiv="Content-Security-Policy" content="font-src 'self' data:; img-src 'self' data:; default-src 'self' http://127.0.0.1:3000/"> -->


<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');
html{
  width:100%;
  height:100%;

}
body {
  font-family: 'Roboto', sans-serif;
  width:100%;
  height:100%;

}
.skewedbox{
    background-image: linear-gradient(#3280e4, #584dc3);
    transform:skew(0,-10deg)translateY(-150px);
    width: 100%;
}
.btn:hover{
    color:#3280e4;
    border-color:#3280e4;
    box-shadow: 5px 10px #3280e4;
    transition-duration: .5s;
}

.nav-bar{
    transform: skew(0,10deg)translateY(150px) ;
}
.container-form{
    transform:skew(0,10deg)translateY(150px);
    width: 100%;
}
.auth{
  width:100%;
}
.auth__body {
    width:100%;
}
.auth__form {
  min-width: 50%;
  max-width: 340px;
  margin: auto;
  padding: 0 10px;
  position: relative;
  z-index: 9;
}
.auth__form_body {
  padding: 0.7rem 1.5rem 35px;
  border-radius: 0.5rem;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.auth__form_title {
  font-size: 1.3rem;
  text-align: center;
  color:#584dc3;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.auth__form_subtitle {
  font-size: 1.1rem;
  text-align: center;
  color:#3280e4;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.auth__form_actions {
  text-align: center;
  padding: 0 2rem;
  margin-top: -25px;
}
.auth__form_actions .btn {
  border-radius: 30px;
  box-shadow: 0 2px 12px rgba(50, 128, 228, 0.5);
    transition-duration: .5s;
}

.auth__form_actions .btn:hover{
    background: white;
    color:#584dc3;
    transition-duration: .5s;
    box-shadow: 0 2px 12px rgba(50, 128, 228, 0.5)
}

    </style>
</head>
<body>
    
    <section class="skewedbox">
        <div class="nav-bar">
            
        <% include partials/header %>
        </div>
        <div class="container-fluid container-form">
    
            
            <div class="auth">
                <div class="auth__body">
                    <div class="row">
                            <form class="auth__form mt-5" enctype="multipart/form-data" method="POST">
                                    <div class="auth__form_body">
                                    <h3 class="auth__form_title">ADD HEALTH RECORD</h3>
                                    <!-- <p><%= message %></p> -->
                                    <div>
                                       <!-- <h6 class="auth__form_subtitle">Your Details</h6> -->
                                       <hr/>
                                        <div class="row">
                                            
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-uppercase small">Username</label>
                                                    <input name="username" type="text" class="form-control" disabled="true" placeholder="Username">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-uppercase small">Full Name</label>
                                                    <input name="fullname" type="text" disabled="true" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-uppercase small">Gender</label>
                                                    <input name="gender" type="text" class="form-control" value="Male" disabled="true">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-uppercase small">DOB</label>
                                                    <input name="dob" type="date" disabled="true" class="form-control" >
                                                </div>
                                            </div>
                                            
    
                                        </div>
                                    </div>
                                    <div class="row">
                        
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="text-uppercase small">Document Name</label>
                                                <input name="name" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="text-uppercase small">Document Type</label>
                                                <select class="form-control" name="type" required="true">
                                                    <option class="hidden"  selected disabled>Document Type</option>
                                                    <option value="Blood Test">Blood Test</option>
                                                    <option value="Urine Test">Urine Test</option>
                                                    <option value="X-Ray">X-Ray</option>
                                                    <option value="MRI">MRI</option>
                                                    <option value="Prescription">Prescription</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="date">Date</label>
                                                <input type="date" class="form-control" id="date" name="date" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <textarea class="form-control ml-3" name="description" placeholder="Enter Description of Document" rows="2" style="width:96%"></textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <div class="file-upload-wrapper">
                                                <input type="file" id="input-file-now-custom-1" class="file-upload" name="myFiles" accept="image/*" multiple/>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="auth__form_actions col-md-4 offset-md-4">
                                    <button name="submit" class="btn btn-primary btn-md btn-block">
                                        Add Record
                                    </button>
                                    </div>
                                </form>
                            </form>
                            <br>
<!--                                     
                                    <form action="/uploadMultipleFile"  enctype="multipart/form-data" method="post">
                                    
                                        <div class="row">
                                            <div class="col">
                                                <div class="file-upload-wrapper">
                                                    <input type="file" id="input-file-now-custom-1" class="file-upload" name="myFiles" accept="image/*" multiple/>
                                                </div>
                                            </div>
                                            <div class="auth__form_actions col-md-4 offset-md-4">
                                                <button name="submit" class="btn btn-primary btn-md">
                                                    Upload
                                                </button>
                                            </div>
                                        </div>
                                    </form> -->
    
    
    
                                    <!-- <h6 class="auth__form_subtitle">Spouse's Details</h6>
                                    <hr/>
                                    <div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="text-uppercase small">First Name</label>
                                                        <input name="first_name1" type="text" class="form-control" placeholder="First Name" required="true">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="text-uppercase small">Last Name</label>
                                                        <input name="last_name1" type="text" class="form-control" placeholder="Last Name" required="true">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="text-uppercase small">Date</label>
                                                        <input name="dob1" type="date" class="form-control" required="true">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label class="text-uppercase small">Gender</label>
                                                        <br/>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="gender1" id="male" value="male" >
                                                            <label class="form-check-label" for="male">
                                                                Male
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="gender1" id="female" value="female" checked>
                                                            <label class="form-check-label" for="female">
                                                                Female
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                    <!-- ACCESS CONTROL LEFT -->
                                  
                                
                    </div>
                </div>
              </div>
            </div>
        </div>
    </section>
</body>
</html>