<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/head %>
  
<script type="text/javascript">

</script>

<title>Your Doctors</title>>


<style>
html{
  width:100%;
  height:100%;

}
body {
  font-family: 'Roboto', sans-serif;
  width:100%;
  height:100%;

}
.skewedbox{
    background-image: linear-gradient(#3280e4, #584dc3);
    transform:skew(0,-10deg)translateY(-150px);
    width: 100%;
}


.nav-bar{
    transform: skew(0,10deg)translateY(150px) ;
}
.container-form{
    transform:skew(0,10deg)translateY(150px);
    width: 100%;
}
.auth{
  width:100%;
}
.auth__body {
    width:100%;
}
.auth__form {
  min-width: 50%;
  max-width: 340px;
  margin: auto;
  padding: 0 10px;
  position: relative;
  z-index: 9;
}
.auth__form_body {
  padding: 0.7rem 1.5rem 35px;
  border-radius: 0.5rem;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.auth__form_title {
  font-size: 1.3rem;
  text-align: center;
  color:#FFF;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.auth__form_subtitle {
  font-size: 1.1rem;
  text-align: center;
  color:#3280e4;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.auth__form_actions {
  text-align: center;
  margin-left: 10px;
  margin-right: 60px;
  margin-top: 20px;
}
.auth__form_actions .btn {
  border-radius: 30px;
  box-shadow: 0 2px 12px rgba(50, 128, 228, 0.5);
    transition-duration: .5s;
}

.auth__form_actions .btn:hover{
    background: white;
    color:#584dc3;
    transition-duration: .5s;
    box-shadow: 0 2px 12px rgba(50, 128, 228, 0.5)
}

    </style>
</head>
<body>
    
    <section class="skewedbox">
        <div class="nav-bar">
            
        <% include partials/header %>
        </div>
        <div class="container-fluid container-form">
    
            
            <div class="auth">
                <div class="auth__body">
                    <div class="row">
                            <form class="auth__form mt-5" autocomplete="off">
                                    <h3 class="auth__form_title">ADD DOCTOR</h3>
                                    <div>
                                       <hr/>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-uppercase small">Search for Doctor</label>
                                                    <input id="search_key" name="search_doctor" type="text" value="Enter username of doctor" class="form-control" onclick="this.value=''">
                                                </div>
                                            </div>
                                            <div class="auth__form_actions">
                                                <button name="submit" class="btn btn-primary btn-lg btn-block" onClick="search()">
                                                    Search
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-uppercase small">Name</label>
                                                    <input name="name" type="text" disabled="true" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-uppercase small">Specialization</label>
                                                    <input name="specialization" type="text" class="form-control" disabled="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-uppercase small">Hospital</label>
                                                    <input name="hospital" type="text" class="form-control" disabled="true">
                                                </div>
                                            </div>
                                        </div> 
                                        <div>
                                            <button class="btn btn-outline-success" >ADD</button>
                                            <button class="btn btn-outline-danger ml-5">RESET</button>
                                        </div>                    
                                </form>  
                    </div>
                </div>
              </div>
            </div>
        </div>
    </section>
</body>
<script text="javascript">
    function search(){
    console.log( document.getElementById("search_key").value);
    var searchkey = document.getElementById("search_key").value
    $.ajax({
        url: "/adddoctor",
        type: "GET",
        data: {'username': searchkey}, //send this to server
        success: function(returned) {
            console.log(returned);
        },
        error: function(e) {
            console.log("error",e)
        }
    });
}

</script>
</html>