<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/head %>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready( function () {
    $('#doctors_table').DataTable();
}
);
</script>

<title>Your Doctors</title>

<!-- <meta http-equiv="Content-Security-Policy" content="font-src 'self' data:; img-src 'self' data:; default-src 'self' http://127.0.0.1:3000/"> -->


<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');
html{
  width:100%;
  height:100%;

}
body {
  font-family: 'Roboto', sans-serif;
  width:100%;
  height:100%;

}
.skewedbox{
    background-image: linear-gradient(#3280e4, #584dc3);
    transform:skew(0,-10deg)translateY(-150px);
    width: 100%;
}


.nav-bar{
    transform: skew(0,10deg)translateY(150px) ;
}
.container-form{
    transform:skew(0,10deg)translateY(150px);
    width: 100%;
}
.auth{
  width:100%;
}
.auth__body {
    width:100%;
}
.auth__form {
  min-width: 50%;
  max-width: 340px;
  margin: auto;
  padding: 0 10px;
  position: relative;
  z-index: 9;
}
.auth__form_body {
  padding: 0.7rem 1.5rem 35px;
  border-radius: 0.5rem;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.auth__form_title {
  font-size: 1.3rem;
  text-align: center;
  color:#584dc3;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.auth__form_subtitle {
  font-size: 1.1rem;
  text-align: center;
  color:#3280e4;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.auth__form_actions {
  text-align: center;
  margin-left: 10px;
  margin-right: 60px;
  margin-top: 20px;
}
.auth__form_actions .btn {
  border-radius: 30px;
  box-shadow: 0 2px 12px rgba(50, 128, 228, 0.5);
    transition-duration: .5s;
}

.auth__form_actions .btn:hover{
    background: white;
    color:#584dc3;
    transition-duration: .5s;
    box-shadow: 0 2px 12px rgba(50, 128, 228, 0.5)
}

    </style>
</head>
<body>
    
    <section class="skewedbox">
        <div class="nav-bar">
            
        <% include partials/header %>
        </div>
        <div class="container-fluid container-form">
    
            
            <div class="auth">
                <div class="auth__body">
                    <div class="row">
                            <form class="auth__form mt-5" autocomplete="off" method="POST">
                                    <div class="auth__form_body">
                                    <h3 class="auth__form_title">YOUR DOCTORS</h3>
                                    <!-- <p><%= message %></p> -->
                                    <table id="doctors_table" class="display" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Specialization</th>
                                                <th>Hospital</th>
                                                <th>Contact No.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Dr. Tiger Nixon</td>
                                                <td>General Physicist</td>
                                                <td>Fortis, Vashi</td>
                                                <td>123456789</td>
                                            </tr>
                                            <tr>
                                                <td>Dr. Garrett Winters</td>
                                                <td>Skin Specialist</td>
                                                <td>Leelavati</td>
                                                <td>087654321</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    <br><br>
                                    <h3 class="auth__form_title">ADD DOCTOR</h3>
                                    <div>
                                       <!-- <h6 class="auth__form_subtitle">Your Details</h6> -->
                                       <hr/>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-uppercase small">Search for Doctor</label>
                                                    <input name="search_doctor" type="text" value="Enter username of doctor" class="form-control" onclick="this.value=''">
                                                </div>
                                            </div>
                                            <div class="auth__form_actions">
                                                <button name="submit" class="btn btn-primary btn-lg btn-block">
                                                    Search
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-uppercase small">Name</label>
                                                    <input name="name" type="text" disabled="true" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-uppercase small">Specialization</label>
                                                    <input name="specialization" type="text" class="form-control" disabled="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="text-uppercase small">Hospital</label>
                                                    <input name="hospital" type="text" class="form-control" disabled="true">
                                                </div>
                                            </div>
                                        </div> 
                                        <div>
                                            <button class="btn btn-outline-success">ADD</button>
                                            <button class="btn btn-outline-danger ml-5">RESET</button>
                                        </div>                    
                                </form>  
                    </div>
                </div>
              </div>
            </div>
        </div>
    </section>
</body>
<script>
    
</script>
</html>