<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials\head %>
<style>
html{
  width:100%;

}
body {
  font-family: 'Roboto', sans-serif;  width:100%;

}
.card {
padding: 1rem;
border: 1px solid black;
margin: 1rem;
}
</style>

<header>
    <% include partials\header %>
</header>



<script>
window.onload = function() {


const apiResult = [{
  title: "title1",
  description: "desc1",
  output: "out1",
  href:"/1"
}, {
  title: "title2",
  description: "desc2",
  output: "out2",
  href:"/2"
}, {
  title: "title3",
  description: "desc3",
  output: "out3",
  href:"/3"
}];


const container = document.getElementById('accordion');

apiResult.forEach((result, idx) => {
  // Create card element
  const card = document.createElement('div');
  card.classList = 'card-body';

  // Construct card content
  const content = `
    <!--div class="card border-success mb-3" style="max-width: 18rem;"-->
    <div class="card border-success mb-3" >
    <div class="card-header bg-transparent border-success" id="heading-${idx}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-${idx}" aria-expanded="true" aria-controls="collapse-${idx}">
          >
        </button>
        <a href=${result.href}>Header</a>
      </h5>
    </div>

    <div id="collapse-${idx}" class="collapse show" aria-labelledby="heading-${idx}" data-parent="#accordion">
      <div class="card-body">

        <h5>${result.title}</h5>
        <p>${result.description}</p>
        <p>${result.output}</p>
        ...
      </div>
    </div>
  </div>
  `;

  // Append newyly created card element to the container
  container.innerHTML += content;
})
}


</script>
</head>
<main>
  
<body>
    <div class="jumbotron">
        <h1 style="text-align:center">Know Your Past Record ??</h1>
        <br>
        <form class="justify-content-center my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Medical Record" aria-label="Search">
          <br>
          <div class="text-center"> 
          <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
          </div
        </form>
    </div>
    <!--div class="card border-success mb-3" style="max-width: 18rem;">
      <div class="card-header bg-transparent border-success">
        Header
      </div>
      <div class="card-body text-success">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    
      <div class="card-footer bg-transparent border-success">
        Footer
      </div>
    </div-->
    <div id='container'>
    <div id="accordion">
  
    </div>
    </div>
    
</main>

<footer>
    <% include partials\footer %>
</footer>

</body>
</html>