<!DOCTYPE html>
<html lang="en">
<head>
<% include D:\vkk\Medicyl\medicyl\views\head %>

  <style>
    body{
    background: #eee;
}
span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}
  </style>
</head>
<body> 
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <% include D:\vkk\Medicyl\medicyl\views\header %>
</header>

<br>
<br>
<div class="box">
    <div class="container">
      <div class="row">
       
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
          <div class="box-part text-center">
                        
                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                        
            <div class="title">
              <h4>Instagram</h4>
            </div>
                        
            <div class="text">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
                        
            <a href="#">Learn More</a>
                        
           </div>
        </div>   
        
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
          <div class="box-part text-center">
              
              <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                    
            <div class="title">
              <h4>Twitter</h4>
            </div>
                        
            <div class="text">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
                        
            <a href="#">Learn More</a>
                        
           </div>
        </div>   
        
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
          <div class="box-part text-center">
                        
                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                        
            <div class="title">
              <h4>Facebook</h4>
            </div>
                        
            <div class="text">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
                        
            <a href="#">Learn More</a>
                        
           </div>
        </div>   
        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
          <div class="box-part text-center">
                        
                        <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>
                        
            <div class="title">
              <h4>Pinterest</h4>
            </div>
                        
            <div class="text">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
                        
            <a href="#">Learn More</a>
                        
           </div>
        </div>   
        
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
          <div class="box-part text-center">
              
              <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
                    
            <div class="title">
              <h4>Google</h4>
            </div>
                        
            <div class="text">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
                        
            <a href="#">Learn More</a>
                        
           </div>
        </div>   
        
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
          <div class="box-part text-center">
                        
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                        
            <div class="title">
              <h4>Github</h4>
            </div>
                        
            <div class="text">
              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
            </div>
                        
            <a href="#">Learn More</a>
                        
           </div>
        </div>
    
    </div>    
    </div>
</div>
<footer>
    <% include D:\vkk\Medicyl\medicyl\views\footer %>
</footer>
</body>
</html>
