<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/dashboard"><b>Medicyl</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    <form class="form-inline">
      <a class="mr-3">Welcome <b class="text-success">Mihir</b></a>
      <a class="btn btn-outline-danger my-2 my-sm-0" href="/" ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
    </form>
    
  </div>
</nav>
